<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Tus Calificaciones
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group [multiple]="true" [value]="['first']">
    <ion-accordion value="first" toggleIcon="caret-down-circle" toggleIconSlot="start">
      <ion-item slot="header" color="primary">
        <ion-label>Período 2020-01</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col size="6">Álgebra Lineal</ion-col>
            <ion-col size="6">45.0</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">Física</ion-col>
            <ion-col size="6">45.0</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">Dibujo artístico</ion-col>
            <ion-col size="6">45.0</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion value="second" toggleIcon="caret-down-circle" toggleIconSlot="start">
      <ion-item slot="header" color="primary">
        <ion-label>Semestre 2020-02</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col size="6">Programación Orientada a Objetos</ion-col>
            <ion-col size="6">45.0</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">Estadística</ion-col>
            <ion-col size="6">45.0</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">Otra materia</ion-col>
            <ion-col size="6">45.0</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion value="third" toggleIcon="caret-down-circle" toggleIconSlot="start">
      <ion-item slot="header" color="primary">
        <ion-label>Semestre 2021-01</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col size="6">Desarrollo Web</ion-col>
            <ion-col size="6">47.0</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">Inteligencia Arificial</ion-col>
            <ion-col size="6">10.0</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">Otra materia</ion-col>
            <ion-col size="6">45.0</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
