<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-datetime presentation="date" [highlightedDates]="highlightedDates"></ion-datetime>
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Exámenes</ion-card-title>
      <ion-card-subtitle>6 a 10 de febrero</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Feriado de Prueba</ion-card-title>
      <ion-card-subtitle>15 de febrero</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Misa de San Ignacio</ion-card-title>
      <ion-card-subtitle>20 de febrero</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Lanzamiento AurelIA</ion-card-title>
      <ion-card-subtitle>23 de febrero</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
